.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-container {
        display: flex;
        transition: .8s;
    }
    .img {
        width: 15em;
        height: 15em;
        @include flexCenter;
        img {
            @include imageFit;
        }
    }
    h3 {
        font-size: 1.4em;
    }
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-12em);
    width: fit-content;
    height: 100%;
    .img-container:hover {
        transform: translateX(4em);
    }
    .vinyl {
        img {
            transition: .8s;
            &:hover {
                transform: rotate(45deg);
            }
        }
    }
    .sound-engineer {
        position: relative;
        h3 {
            transform: translateY(2em);
        }
        .perso-wire {
            //border: solid red .1em;
            position: absolute;
            top: 7em;
            right: -11em;
            width: 19em;
            height: 8em;
            overflow: hidden;
            .fill {
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                border-radius: 1em;
                width: 50%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(110%);
                }
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                left: 8.5em;
                top: 0.3em;
                width: 1em;
                height: 96%;
                overflow: hidden;
                .fill {
                    transform: translateY(110%);
                }
            }
            .third-part {
                border-radius: 1em;
                position: absolute;
                right: 0;
                bottom: 0;
                width: 53%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 200ms 1000ms 1 forwards right-to-left-bar;
            }
            .second-part .fill {
                animation: 400ms 700ms 1 forwards down-to-up-bar;
            }
            .third-part .fill {
                animation: 200ms 500ms 1 forwards right-to-left-bar;
            }
        }
    }
    .micro {
        img {
            transform: translateX(4.5em);
        }
    }
    .radio {
        position: relative;
        .perso-wire {
            //border: solid red .1em;
            position: absolute;
            bottom: 10em;
            right: -11em;
            width: 18em;
            height: 8em;
            overflow: hidden;
            .fill {
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                border-radius: 1em;
                position: absolute;
                right: 0;
                width: 40%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(110%);
                }
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                right: 6.4em;
                top: 0.1em;
                width: 1em;
                height: 98%;
                overflow: hidden;
                .fill {
                    transform: translateY(110%);
                }
            }
            .third-part {
                border-radius: 1em;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 64%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 200ms 500ms 1 forwards right-to-left-bar;
            }
            .second-part .fill {
                animation: 300ms 700ms 1 forwards up-to-down-bar;
            }
            .third-part .fill {
                animation: 200ms 1000ms 1 forwards right-to-left-bar;
            }
        }
    }
}

.img-profil {
    height: 20em;
    transform: translate(2em,-5em);
    position: relative;
    z-index: 99;
    img {
        @include imageFit;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(16em);
    width: fit-content;
    height: 100%;
    .img-container:hover {
        transform: translateX(-6em);
    }
    .img-container:first-child:hover {
        transform: translateX(-13em);
    }
    h3 {
        margin-right: 1em;
    }
    .seipra {
        height: 5em;
        width: fit-content;
    }
    .pro-proj {
        position: relative;
        .perso-wire {
            position: absolute;
            top: 3.5em;
            right: 9em;
            width: 21em;
            height: 9em;
            overflow: hidden;
            .fill {
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                position: absolute;
                left: 0;
                bottom: 0;
                border-radius: 1em;
                width: 50%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(110%);
                }
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                left: 9.5em;
                top: 0.3em;
                width: 1em;
                height: 96%;
                overflow: hidden;
                .fill {
                    transform: translateY(110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 300ms 500ms 1 forwards left-to-right-bar;
            }
            .second-part .fill {
                animation: 300ms 800ms 1 forwards down-to-up-bar;
            }
        }
    }
    .code-window {
        height: 10em;
        width: fit-content;
    }
    .perso-proj {
        position: relative;
        .perso-wire {
            position: absolute;
            top: -50%;
            left: -9em;
            width: 9em;
            height: 8em;
            overflow: hidden;
            .fill {
                transform: translateX(-110%);
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                border-radius: 1em;
                width: 50%;
                height: 1em;
                overflow: hidden;
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                left: 3.5em;
                top: 0;
                width: 1em;
                height: 100%;
                overflow: hidden;
                .fill {
                    transform: translateY(-110%);
                }
            }
            .third-part {
                border-radius: 1em;
                position: absolute;
                right: 1em;
                bottom: 0;
                width: 50%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(-110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 200ms 500ms 1 forwards left-to-right-bar;
            }
            .second-part .fill {
                animation: 300ms 700ms 1 forwards up-to-down-bar;
            }
            .third-part .fill {
                animation: 200ms 1000ms 1 forwards left-to-right-bar;
            }
        }
    }
}

.bottom-links {
    position: absolute;
    bottom: -11em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .img-container {
        flex-direction: column;
        align-items: center;
        &:hover {
            transform: translateY(-5em);
        }
    }
    .K {
        width: 11em;
    }
    .TV {
        transform: translateY(-2em);
    }
    h3 {
        margin-bottom: .5em;
    }
    .sound-design {
        position: relative;
        .perso-wire {
            position: absolute;
            top: -50%;
            right: 9em;
            width: 8em;
            height: 8em;
            overflow: hidden;
            .fill {
                transform: translateX(-110%);
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                border-radius: 1em;
                width: 100%;
                height: 1em;
                overflow: hidden;
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                right: 0;
                top: 0;
                width: 1em;
                height: 100%;
                overflow: hidden;
                .fill {
                    transform: translateY(-110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 200ms 500ms 1 forwards left-to-right-bar;
            }
            .second-part .fill {
                animation: 400ms 700ms 1 forwards up-to-down-bar;
            }
        }
    }
    .kobutsune {
        position: relative;
        .perso-wire {
            position: absolute;
            bottom: 9em;
            right: -9em;
            width: 11em;
            height: 13em;
            overflow: hidden;
            .fill {
                width: 100%;
                height: 100%;
                background-color: $fifth-color;
            }
            .first-part {
                position: absolute;
                bottom: 0;
                border-radius: 1em;
                width: 100%;
                height: 1em;
                overflow: hidden;
                .fill {
                    transform: translateX(-110%);
                }
            }
            .second-part {
                border-radius: 1em;
                position: absolute;
                right: 0;
                top: 0;
                width: 1em;
                height: 100%;
                overflow: hidden;
                .fill {
                    transform: translateY(-110%);
                }
            }
        }
        &:hover .perso-wire {
            .first-part .fill {
                animation: 300ms 800ms 1 forwards right-to-left-bar;
            }
            .second-part .fill {
                animation: 300ms 500ms 1 forwards up-to-down-bar;
            }
        }
    }

}
