.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img-container {
        display: flex;
        transition: .8s;
    }
    .img {
        width: 15em;
        height: 15em;
        @include flexCenter;
        img {
            @include imageFit;
        }
    }
    h3 {
        font-size: 1.4em;
    }
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(-12em);
    width: fit-content;
    height: 100%;
    .img-container:hover {
        transform: translateX(4em);
    }
    .vinyl {
        img {
            transition: .8s;
            &:hover {
                transform: rotate(45deg);
            }
        }
    }
    
    .micro {
        img {
            transform: translateX(4.5em);
        }
    }
}

.img-profil {
    height: 20em;
    transform: translateX(2em);
    img {
        @include imageFit;
    }
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateX(16em);
    width: fit-content;
    height: 100%;
    .img-container:hover {
        transform: translateX(-6em);
    }
    .img-container:first-child:hover {
        transform: translateX(-13em);
    }
    h3 {
        margin-right: 1em;
    }
    .seipra {
        height: 5em;
        width: fit-content;
    }
    .code-window {
        height: 10em;
        width: fit-content;
    }
}

.bottom-links {
    position: absolute;
    bottom: -11em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    .img-container {
        flex-direction: column;
        align-items: center;
        &:hover {
            transform: translateY(-5em);
        }
    }
    .K {
        width: 11em;
    }
    .TV {
        transform: translateY(-2em);
    }
    h3 {
        margin-bottom: .5em;
    }
}