.animation-page {
  font-family: Montserrat, Helvetica, sans-serif;
  background: #111;
  font-size: 1.5vw;
  cursor: none;
  .main-anim {
    display: flex;
    flex-direction: column;
    align-items: center;
    .custom-cursor {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid rgb(214, 214, 214);
      border-radius: 50%;
      padding: 0.1em;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-weight: bold;
        font-size: 1.5em;
        transform: translateY(-25%);
      }
    }
    .top-section {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      background: no-repeat url("../../public/hero-background.jpg");
      background-size: cover;
      width: 100%;
      height: 31em;
      ul {
        display: flex;
      }

      li {
        z-index: 10;
        list-style-type: none;
        margin: 0.5em 1em;
      }
      h1 {
        margin-top: 1em;
        font-size: 3em;
        min-height: 1.15em;
        text-transform: uppercase;
        animation: flashing-cursor 0.7s infinite linear alternate;
        padding-right: 0.1em;
        background: -webkit-linear-gradient(
          135deg,
          rgb(240, 240, 240),
          #aeaeae
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .subtitle {
        margin-top: 1em;
        opacity: 0;
        transition: 5s;
      }

      .down-button {
        z-index: 50;
        cursor: pointer;
        position: absolute;
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(45, 45, 45);
        border: solid 0.1em rgba(138, 138, 138, 0.6);
        border-radius: 50%;
        padding: 0.6em;
        bottom: 1em;
        img {
          object-fit: contain;
        }
      }
      .appears {
        opacity: 1;
      }
    }

    .scroll-section {
      width: 60%;
      border-left: solid 0.1em grey;
      border-right: solid 0.1em grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 4em;
      opacity: 0;
      transition: 0.8s;
      .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1.5em 0;
        p {
          font-size: 0.7em;
        }
        span {
          font-size: inherit;
          font-weight: 100;
        }
        h2 {
          font-size: 2em;
        }
      }
    }

    article {
      display: flex;
    }

    .text-part {
      font-weight: 100;
      flex: 1;
      .text {
        font-size: 0.6em;
        margin: 1.5em 0 3em;
      }
    }

    h3 {
      font-size: 0.7em;
      font-weight: 600;
    }

    .contact-button {
      z-index: 50;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4em 0.6em;
      background-color: inherit;
      width: 7.5em;
      border: solid 0.1em rgba(255, 255, 255, 0.6);
      p {
        font-size: 0.7em;
      }
    }

    .chevron {
      width: 0.8em;
      height: 0.8em;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
        width: 100%;
      }
    }

    .picture-part {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-left: 1em;
      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .part1 .picture-part {
      height: 19em;
    }

    .part2 {
      overflow: hidden;
      .picture-part {
        height: 8em;
      }
      h2 {
        font-weight: 100;
      }
      article {
        margin: 4em 0;
        opacity: 0;
        transform: skew(-18deg) translateX(-15em);
        transition: 1s;
        &:nth-child(3) {
          transform: skew(18deg) translateX(15em);
        }
        &.appears {
          opacity: 1;
          transform: skew(0) translateX(0);
        }
      }
      .picture-part:nth-child(1) {
        margin-left: 0;
        margin-right: 1em;
      }
      .picture-part img {
        transform: translateY(-1em);
      }
    }

    .article-part2 .picture-part {
      flex: 2;
    }

    .appears {
      opacity: 1;
    }

    @media screen and (max-width: 800px) {
      * {
        font-size: 2.5vw;
      }
      h3 {
        font-size: 1.8em;
      }
      .down-button {
        width: 3em;
        height: 3em;
        padding: 0.8em;
      }
      .custom-cursor {
        display: none;
      }
      .article-part1 .text-part {
        text-align: center;
      }
      .scroll-section {
        width: 100%;
      }
      .subtitle {
        font-size: 1.2em;
      }
      .contact-button {
        width: 11em;
        margin-bottom: 3em;
        p {
          font-size: 1.3em;
        }
      }
      article {
        flex-direction: column;
      }
      .text-part .text {
        font-size: 3vw;
      }
      .picture-part {
        flex: none;
        margin: 0;
      }
      .title-container p {
        font-size: 1.5em;
      }
      .article-part1 .picture-part img {
        transform: translateY(-4em);
      }
      .part1 .picture-part,
      .part2 .picture-part {
        height: 15em;
      }
      .article-part2 .picture-part {
        flex: none;
      }
      .part2 .picture-part:nth-child(1) {
        margin: 0;
      }
      .part2 article:nth-child(3) {
        flex-direction: column-reverse;
      }
    }
  }
}
