.meteo-page {
  font-family: Lato, sans-serif;
  background: linear-gradient(45deg, #4ba0d9, #6dd5fa, #ffffff);
  .main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loader {
      display: flex;
      z-index: 99;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #f1f1f1;
      justify-content: center;
      align-items: center;
    }

    @keyframes bouncing {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(2em);
      }
    }

    .inputs-container {
        padding: 0 2em;
        position: absolute;
        bottom: 1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .position-container {
        display: flex;
        flex-direction: column;
        .input-container {
            margin: .5em 0;
        }
    }

    .apikey-container {
        display: flex;
        align-items: center;
      }

      .input-container input {
        margin-right: .5em;
      }

      .position-fields {
        display: flex;
        align-items: center;
        input {
            margin: 0 1em 0 .5em;
            width: 6em;
        }
        button {
            width: 1.3em;
            height: 1.3em;
            &::before {
                @include icon('\f08e');
            }
        }
      }

    .validate-api {
        width: 1.7em;
        height: 1.7em;
        background-color: #fff;
        border: solid .1em;
        border-radius: 0 .5em .5em 0;
        @include flexCenter;
        margin-right: 1em;
        &::before {
            @include icon ('\f08e');
        }
    }
    
    #api-key {
        width: fit-content;
        padding: .2em .5em;
        border: solid .1em;
      border-radius: .5em 0 0 .5em;
    }

    .point {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
      background-color: rgb(112, 112, 112);
      margin: 0 0.5em;
      animation: bouncing 0.6s infinite alternate;
    }

    .point:nth-child(2) {
      animation-delay: 100ms;
    }

    .point:nth-child(3) {
      animation-delay: 200ms;
    }

    .meteo-container {
      position: relative;
      margin-top: 3em;
      width: 13em;
      height: 20em;
      box-shadow: 0em 0em 0.4em rgb(142, 142, 142);
      display: flex;
      flex-direction: column;
    }

    .up-part {
      width: 100%;
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0.5em 0;
    }

    &.night {
      background-color: black;
      .meteo-container {
          background-color: rgb(0, 0, 106);
          span,h1,h2,p {
            color: white;
          }
          .tabs-section p,.temp-container p {
            color: #082879;
          }
      }
      label, label p {
        color: white;
      }
    }

    h1 span {
      font-weight: lighter;
    }

    .down-part {
      color: black;
      width: 100%;
      flex: 1;
      background-color: #fff;
      border-radius: 1em 1em 0 0;
      box-shadow: 0em 0em 0.2em rgb(142, 142, 142);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .logo {
      width: 4em;
      height: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
          object-fit: contain;
          height: 150%;
      }
    }

    .temp {
      font-size: 2em;
    }

    .tabs-section {
      margin: 1em 0;
      button {
          padding: 0.3em 0.5em;
          background-color: #fff;
          border: solid 0.1em rgb(181, 181, 181);
          box-shadow: 0.1em 0.1em 0.2em rgb(142, 142, 142);
          color: rgba(0, 0, 0, 0.3);
          border-radius: 0.4em;
          p {
              font-size: 0.8em;
          }
      }
      .select {
          box-shadow: none;
          color: black;
          background-color: rgb(123, 226, 255);
      }
    }

    .display-part {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 0.5em;
    }

    .temp-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 0.2em;
      border-right: solid 0.05em;
      flex: 1;
    }

    .temp-container:last-child {
      border-right: none;
    }

    .temp-container h4,
    .temp-container p {
      font-size: 0.7em;
    }

    @media screen and (max-width: 600px) {
      * {
        font-size: 4vw;
      }
    }
  }
}
