.calculator-page {
    width: 100vw;
    height: 100vh;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        font-family: 'orbitron';
    }
    form {
        position: absolute;
        bottom: .5em;
        right: 1em;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .color-container {
        display: flex;
        margin: .2em 0;
        }
        label {
        margin-right: .5em;
        font-size: .8em;
        }
    }
    .calculator-body {
        background-color: rgb(48, 48, 48);
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: .2em .2em .3em rgb(128, 128, 128);
        border: solid .1em black;
        .calculator-screen {
          width: 12em;
          min-height: 5em;
          background-color: rgb(83, 83, 83);
          margin: .8em;
          border-radius: 1em;
          border: solid .1em grey;
          box-shadow: inset .1em .1em .1em black;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          margin-top: 1.5em;
          overflow: hidden;
          p {
            color: white;
            font-size: .8em;
            margin: 0 .8em .5em;
            word-break: break-word;
        }
        h1 {
            color: white;
            font-size: 1.3em;
            margin: .3em;
            word-break: break-word;
          }
        }
        
        .calculator-touch {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 1.5em;
          .line {
            display: flex;
            .touch-background {
              width: 2.4em;
              height: 2.4em;
              /* background-color: rgb(48, 48, 48); */
              background-color: rgb(48, 48, 48);
              border-top: solid transparent .2em;
              filter: brightness(200%);
              margin: .2em .3em;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              border-radius: .3em;
              overflow: hidden;
              box-shadow: 0 .2em .2em black;
              .touch {
                width: 100%;
                height: 100%;
                p {
                    color: #f1f1f1;
                }
                filter: brightness(50%);
                background-color: inherit;
                border-radius: .3em .3em 0 0;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            .double {
              width: 5.4em;
            }
            .double:nth-child(3),.double:nth-child(3) {
              background-color: rgb(243, 178, 39);
              p {
                color: black;
              }
            }
          }
        }
      }
    @media screen and (max-width: 800px) {
    * {
        font-size: 4vw;
    }
    align-items: flex-start;
    .calculator-body {
        margin-top: 3em;
    }
    }
}
