.cookies-page {
    font-family: Lato, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); 
    padding: clamp(20px, 5vw, 50px) 20px 10px;
    .main-cookies {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        .alert-container {
            z-index: 99;
            position: fixed;
            background-color: rgba(255, 153, 85, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
        
        .alert-window {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border: solid .2em;
            border-radius: 1em;
            padding: 5em;
        }
        
        .alert-window p {
            font-size: 2em;
        }
        
        span {
            font-weight: normal;
            font-size: .8em;
        }
        
        h1 {
            font-size: 2em;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2em;
        }
        .input-container {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 1em;
        }
        
        input {
            width: 40vw;
            height: 2em;
            border: none;
            box-shadow: .2em .2em .2em rgb(174, 174, 174);
            margin-top: .5em;
            padding-left: .5em;
        }
        
        .reset {
            position: absolute;
            width: 1em;
            height: 1em;
            right: -.5em;
            top: 1em;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid .05em;
        }
        
        .buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2em;
        }
        
        .buttons-container button {
            padding: .3em .8em;
            margin: 0 1em;
            border: none;
            background-color: rgb(0, 141, 113);
            color: white;
            border-radius: .4em;
            box-shadow: .1em .1em .1em rgb(174, 174, 174);
        }
        
        .cookie-container {
            margin: 1em 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            min-height: 10em;
            width: 60vw;
            border: solid .2em;
            border-radius: 1em;
        }
        
        .cookie-container button {
            padding: .3em .8em;
            background-color: #fff;
            border-radius: 1em;
            margin-top: 1em;
        }
        
        .cookie-card {
            display: flex;
            flex-direction: column;
            background-color: rgb(0, 170, 142);
            color: #fff;
            width: 20em;
            box-shadow: .2em .2em .2em rgb(139, 139, 139);
            margin: .5em 0;
            padding: .5em 1em;
        }
        
        .cookie-card span {
            font-weight: bold;
            font-size: 1em;
        }
        
        .hide {
            display: none;
        }
    }
}