.filter-page {
    min-height: 100vh;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    .main-filter {
        display: flex;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5em;
          }
          
          .nav-section {
            flex: 1;
            max-width: 10em;
            border-right: solid .1em;
            display: flex;
            flex-direction: column;
            padding: 1em;
          }
          
          li {
            list-style-type: none;
            display: flex;
            align-items: center;  
            h3 {
              font-size: 1em;
              font-weight: normal;
              margin: .5em 0;
            }
          }
          
          .logo {
            width: 1em;
            height: 1em;
            margin-right: .5em;
          }
          
          .title .logo {
            width: 1.5em;
            height: 1.5em;
          }
          
          .users-section {
            display: flex;
            flex-direction: column;
            padding: 1em;
            flex: 1;
          }
          
          .search-section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          
          .search-bar {
            position: relative;
            height: 2.3em;
            display: flex;
            align-items: center;
            input {
              border: none;
              background-color: rgb(228, 228, 228);
              padding: .5em 1em .5em 2.5em;
              border-radius: .3em;
              min-width: 23em;
              height: 100%;
            }
            &__logo {
              position: absolute;
              width: 1em;
              height: 1em;
              display: flex;
              justify-content: center;
              align-items: center;
              left: .5em;
            }
          }
          .search-category h3 {
            font-weight: 500;
            font-size: .9em;
            margin-bottom: .4em;
          }
          
          .woman-man label {
            font-size: .8em;
          }
          
          .search-category {
            display: flex;
            flex-direction: column;
            max-width: 15em;
          }
          
          .radios-box {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            div {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: .8em;
              margin-bottom: .3em;
            }
            label {
              font-size: .8em;
              margin-left: .2em;
            }
          }
          
          .users-section h2 {
            font-size: 1.3em;
            margin: .8em 0 1em;
          }
          
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
          
          table {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          
          tbody {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          
          tr {
            display: flex;
            align-items: center;
          }
          
          th,td {
            height: 2em;
            flex: 1;
            display: flex;
            font-size: .7em;
            display: flex;
            align-items: center;
          }
          
          th {
            cursor: pointer;
          }
          
          .order {
            display: none;
            justify-content: center;
            align-items: center;
            margin-left: 1em;
            padding-bottom: .5em;
          }
          
          .order::before {
              @include icon('\f0dd',1.5em);
          }
          
          th.selected .order {
            display: flex;
            transform: rotate(0);
          }
          th.selected.rotate .order {
            transform: rotate(180deg);
          }
          
          .photo-profil {
            width: 1.5em;
            height: 1.5em;
            margin: 0 1em 0 .5em;
            z-index: 2;
            img {
              border-radius: 50%;
            }
          }
          
          .name-container {
            position: relative;
          }
          
          .bigger-picture {
            /* display: none; */
            opacity: 0;
            position: absolute;
            z-index: -1;
            width: 6em;
            height: 6em;
            transition: transform .8s, opacity 1.5s, box-shadow .8s;
            box-shadow: .1em .1em .1em gray;
          }
          
          .green {
            background-color: rgb(230, 245, 238);
          }
          
          .photo-profil:hover + .bigger-picture {
            opacity: 1;
            transform: translateX(-7em);
            box-shadow: 1em 1em .4em gray;
            z-index: 1;
          }
          
          @media (max-width: 900px) {
            main {
              flex-direction: column;
            }
            .nav-section {
              max-width: none;
              border: none;
            }
            ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              align-items: center;
            }
            thead {
              display: none;
            }
          
            .search-bar input {
              min-width: 10em;
            }
          
            tbody {
              flex-direction: row;
              flex-wrap: wrap;
              align-items: center;
            }
          
            .user-row {
              width: 13em;
              height: 7em;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              padding: 1em 0;
              margin: .4em;
              box-shadow: 0em .2em .2em gray;
            }
          
            td {
              height: fit-content;
              flex: none;
            }
            .photo-profil {
              width: 2.5em;
              height: 2.5em;
            }
          }
          
          @media (max-width: 470px) { 
              .user-row {
              width: 100%;
            }
          }
          
          .woman-man-hide {
            display: none;
          }
    }
}
.dark .filter-page {
    background-color: $fifth-color;
    .green {
        background-color: black;
    }
}