.password-generator-page {
  min-height: 100vh;
  font-family: Open sans, Helvetica, sans-serif;
  background: #111;
  @include flexCenter;
  .alert-window {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    .alert-box {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 15em;
      width: 30em;
      background-color: rgb(153, 2, 2);
      color: white;
      padding: 2em;
      h2 {
        font-size: 1.6em;
      }
    }
  }
  .password-main {
    display: flex;
    flex-direction: column;
    width: 60%;
    @include tablette-version {
        width: 95%;
    }
    h1 {
      font-size: 1em;
      font-weight: normal;
    }
    .result {
      height: 3em;
      display: flex;
      align-items: center;
      position: relative;
      p {
        width: 95%;
        height: 2em;
        border-bottom: solid 0.15em;
        margin-right: 0.5em;
      }
    }

    .copy-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 1.8em;
      height: 2em;
      border-radius: 0.3em;
      position: relative;
      &::before {
        content: "";
        border: solid 0.1em black;
        width: 0.5em;
        height: 0.7em;
        border-radius: 0.1em;
        background-color: #fff;
        z-index: 10;
      }
      &::after {
        content: "";
        border: solid 0.1em black;
        width: 0.5em;
        height: 0.7em;
        border-radius: 0.1em;
        position: absolute;
        transform: translate(0.15em, -0.15em);
      }
    }

    .clipboard {
      z-index: 20;
      position: absolute;
      color: black;
      background-color: rgb(210, 210, 210);
      right: -9em;
      top: -2.5em;
      padding: 0.2em 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2em;
      p {
        font-size: 0.8em;
        white-space: nowrap;
        border-bottom: none;
        color: #082879;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      #length {
        height: 0.25em;
        margin: 0.5em 0;
      }
  
      .input-container {
        display: flex;
        align-items: center;
        margin: .8em 0;
        label {
          margin-left: 1em;
        }
      }
  
      .button-generate {
        margin-top: 1.5em;
        padding: 0.5em 2em;
        width: fit-content;
        align-self: center;
        color: #082879;

      }
    }
    }
    @include adapt-size;
}
