.quizz-page {
    font-family: Open sans, sans-serif;
    background: linear-gradient(to right, #e0eafc, #cfdef3);
    padding: clamp(20px, 5vw, 50px) 20px 10px;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title-container {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: .5em;
        }
        h2 {
         margin: 0 1em;
         font-weight: normal;
        }
       .questions-container {
         display: flex;
         flex-direction: column;
       }
       .question-container {
         background-color: #fff;
         padding: .5em;
         margin-top: .5em;
         box-shadow: .1em .1em .1em rgb(143, 143, 143);
         min-width: 80vw;
       }
       .good {
         background: linear-gradient(90deg, rgb(201, 244, 103), rgb(54, 253, 187));
       }
       .false {
         background-color: rgb(214, 0, 0);
         color: white;
       }
       .response-container {
         border: none;
         margin-top: .5em;
       }
       .single-response {
         margin-bottom: .2em;
       }
       label {
         margin-left: .5em;
       }
       button {
         padding: .5em 1em;
         background-color: white;
         margin: 1em 0;
         border: none;
         box-shadow: .1em .1em .1em rgb(143, 143, 143);
       }
       button p {
         font-size: .6em;
         font-weight: 500;
       }
       footer {
         background-color: #fff;
         padding: 1em;
         margin: .5em 0;
         box-shadow: .1em .1em .1em rgb(143, 143, 143);
         min-width: 80vw;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
       }
       footer p:nth-child(2) {
         margin: 1em 0;
       }
       span {
         font-weight: bold;
       }
        @media screen and (max-width: 800px) {
         * {
           font-size: 4vw;
         }
       }
    }
}