.typing-page {
    min-height: 100vh;
    background: linear-gradient(
        to right,
        #f09819,
        #edde5d
    );
    font-family: Roboto, Helvetica, sans-serif;
    padding: 50px 10px;
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .typing-main {
        position: relative;
        width: 50%;
        height: 25em;
        background-color: black;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        p,h1,h4 {
            color: white;
        }
        .alert-window {
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0,.7);
            color: black;
            .alert-container {
              position: relative;
              background-color: #ffc400;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 40em;
              height: 20em;
              border-radius: 1em;
              .end-game {
                animation: flashing-text .8s infinite linear alternate;
                font-size: 1.5em;
                margin-bottom: .8em;
                background-color: black;
                color: white;
                padding: .3em .7em;
                border-radius: .2em;
              }
              h4 {
                font-size: 1.5em;
                margin-bottom: .5em;
                color: black;
              }
              p {
                font-size: 1em;
                }
                .close-button {
                position: absolute;
                right: .7em;
                top: .7em;
                color: white;
                background-color: black;
                border-radius: 50%;
                width: 2em;
                height: 2em;
                }
                .best-timers p {
                    color: black;
                }
            }
          }
          
          
          .reset-button {
            cursor: pointer;
            width: 4.5em;
            height: 2em;
            position: absolute;
            right: .5em;
            top: .5em;
            border-radius: .4em;
            border: none;
            background-color: rgb(255, 226, 98);
          }
          
          .valid-button {
            position: absolute;
            width: 2em;
            height: 2em;
            top: .5em;
            left: .5em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &.valid {
                background-color: rgb(1, 101, 26);
            }
            
            &.valid::before {
                @include icon('\f00c');
                color: white;
            }
            
            &.invalid {
              background-color: rgb(182, 1, 1);
              p {
                font-weight: 500;
                font-size: 1.2em;
              }
            }
            
          }
          
          .top {
            margin: 2em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
              font-size: 1.5em;
              display: flex;
              align-items: center;
              margin-bottom: .2em;
              span {
                font-size: 2em;
                line-height: .5;
                margin-left: .2em;
              }
            }
            .counter p {
                color: black;
            }
          }
          
          .counters-container {
            display: flex;
            align-items: center;
            .counter {
              background-color: rgb(246, 160, 0);
              color: black;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 7em;
              height: 2.5em;
              margin: 1em .5em 0;
              border-radius: .3em;
              p {
                font-weight: 700;
                font-size: 1.1em;
              }
            }
          }
          
          .typing-container {
            width: 95%;
            margin: 0 auto;
            textarea {
              background-color: transparent;
              border: solid .1em grey;
              width: 100%;
              max-width: 100%;
              height: 8em;
              max-height: 11em;
              color: white;
            }
          }
    }
}