.converter-page {
    .converter-main {
        @include flexColumn;
        h1 {
            margin-top: 1em;
            font-size: 2em;
        }
        select {
            margin: 1em 0;
            padding: .2em;
            border-radius: .4em;
            text-align: center;
        }
        #type {
            background-color: $fifth-color;
            color: white;
        }
        .containers {
            @include flexCenter;
            .container {
                border: solid $fifth-color;
                padding: 1em 2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                input {
                    border: none;
                    padding: .5em;
                    text-align: center;
                    width: 17em;
                }
            }
            .convert-arrow {
                margin: 1em;
                @include flexColumn;
                &::before {
                    @include icon('\f30b',2em);
                }
                &::after {
                    @include icon('\f30a',2em);
                }
            }
        }
        @media (orientation: portrait) {
            .containers {
                flex-direction: column;
                .convert-arrow {
                    transform: rotate(90deg);
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        * {
            font-size: 4vw;
        }
    }
}