.nasa-page {
    min-height: 100vh;
    background-color: black;
    .nasa-main {
        position: relative;
        .loader {
            @include loader-style;
            background-color: black;
            .point-container {
                display: flex;
                .point {
                  @include point-style;
                  background-color: #fff;
                  animation: bouncing .8s infinite alternate;
                }
                .point:nth-child(2) {
                  animation-delay: 100ms;
                }
                .point:nth-child(3) {
                  animation-delay: 200ms;
                }
              }
        }
        @include flexColumn;
        form {
            display: flex;
            align-items: center;
            margin: 1.5em;
            input {
                margin-left: 1em;
                color: black;
            }
            .valid-search {
                background-color: #fff;
                &::before {
                    @include icon('\f08e',1em);
                    color: black;
                    margin: .4em .2em;
                }
            }
        }
        .results-image {
            display: flex;
            .results-list {
                width: 45vw;
                background-color: black;
                padding: .5em;
                h3 {
                    text-align: center;
                    margin-bottom: 1em;
                }
                .result {
                    cursor: pointer;
                }
            }
            .picture-imported {
                height: fit-content;
                width: 45vw;
                img {
                    @include imageFit;
                }
                video {
                    @include imageFit;
                }
                h4 {
                    margin: 1em;
                }
            }
            @include tablette-version {
                flex-direction: column-reverse;
                align-items: center;
                .results-list {
                    width: 100%;
                }
                .picture-imported {
                    width: 97%;
                }
            }
        }
    }
    @include adapt-size(3vw);
}