@keyframes anim-line {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
}

@keyframes anim-left {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(1em);
    }
    100% {
      transform: translateX(-12em);
    }
}
@keyframes anim-right {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1em);
    }
    100% {
      transform: translateX(12em);
    }
}

@keyframes appears {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappears {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}